{% extends "layout.html" %}
{% block body %}
        

        <!-- Page Header-->
        <header class="masthead" style="background-image: url(' {{ url_for('static',filename='assets/img/home-bg.jpg')  }} ') ">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>{{params['blog_name']}}</h1>
                            <span class="subheading">A Blog Theme by Start Bootstrap</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="my-5">
                            <form name='sendMessage' action='/edit/{{post.sno}}' method='post' >

                                <div class="form-floating">
                                    <input class="form-control" id="title" type="text" name="title" placeholder="Enter your name..." value="{{post.title}}"/>
                                    <label for="title">Title</label>
                                </div>

                                <div class="form-floating">
                                    
                                    <input class="form-control" id="subtitle" type="text" name="subtitle" placeholder="Enter your email..."
                                    value="{{post.subtitle}}"/>
                                    <label for="subtile">Subtitle</label>
                                    
                                </div>
                                <div class="form-floating">
                                    
                                    <input class="form-control" id="slug" type="text" name="slug" placeholder="Enter your phone number..." 
                                    value="{{post.slug}}"/>
                                    <label for="slug">Slug</label>
                                    
                                </div>

                                <div class="form-floating">
                                    
                                    <textarea class="form-control" id="content" name="content" placeholder="Enter your message here..." style="height: 12rem">{{post.content}}</textarea>   
                                    <label for="content">Content</label>                 
                                </div>
                                <div class="form-floating">
                                
                                    <input class="form-control" id="img" name="img" placeholder="Enter image name" value="{{post.img}}"/>
                                    <label for="img">Image</label>

                                </div>
                                
                                <button class="btn btn-primary text-uppercase" type="submit">Send</button>
                            </form>
                        </div>                
                </div>
            </div>
        </div>
    </main>

{% endblock %}        
        